body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color : #A2D9CE  ;
    font-family: cursive;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 5px;
  }
  
  #education-container,
  #experience-container {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  #add-education,
  #add-experience {
    display: block;
    margin: 10px 0;
  }
  
  #resume-output {
    margin-top: 50px;
    border: 1px solid #ccc;
    padding: 20px;
    font-family: cursive;
    background-color: #FFA07A;

  }
  